
* {
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.noPieceHere {
    background-color: #F0D2B4;
}

td {
    text-align: center;
    background-color: #BA7A3A;
    width: 65px;
    height: 65px;
}

span {
    display: inline-block;
}

.black-piece {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: black;
    border: 1px solid white;
    border-radius: 50px;
}

.red-piece {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: red;
    border: 1px solid white;
    border-radius: 50px;
}

.king.red-piece {
    background-color: orange;
}

.king.black-piece {
    background-color: purple;
}
