# Ignore node in client
./node_modules
./package-lock.json
./package.json

# Ignore node in server
./server/node_modules
./server/package-lock.json
./server/package.json

# Environment variables and launch configuration
.vscode
.env
.devcontainer
node_modules
.venv