
html, body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #9e4f4f;
    font-family: "Lato", Calibri, sans-serif;
    font-size: 16px;
    background-color: #384a7a57; }
    h1 {
      position: absolute;
      left: 18vmin; }
      button {
        height: auto;
        width: 10vmin;
        position: relative;
        top: 15%;
        left: calc(50% - 10vmin);
      } 


    html .clearfix, body .clearfix {
      clear: both; }
 
  /* @keyframes spin {  
    0% {
      transform: rotateZ(0);
    }
    100% {
      transform: rotateZ(180deg);

      -webkit-transform: rotateZ(180deg);
      -moz-transform: rotateZ(180deg);
      -ms-transform: rotateZ(180deg);
      -o-transform: rotateZ(180deg);
} */
  /* }  */

  div.column {
  position: relative;
  float: left;
  overflow: auto;
  height: 100%;
  min-height: 100%;
  width: 50%;
  animation: spin 10s linear infinite;
  -webkit-animation: spin 10s linear infinite;
}
  
  @media screen and (max-width: 1200px) {
    div.column {
      width: 100% !important;
      overflow: hidden;
      height: auto; }
    }
    
  div#scoreboard {
    position: absolute;
    top: calc(50% - 40vmin);
    left: calc(50% - 40vmin);
    width: 80vmin;
    height: 80vmin;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #272822;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 1px 1px 3px #232621;
    overflow: hidden;
}
  
  div#board {
    position: absolute;
    top: calc(50% - 40vmin);
    left: calc(50% - 40vmin);
    width: 80vmin;
    height: 80vmin;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #232621;
    background-color: #B93848;
    overflow: hidden; }
    div#board .tile {
      width: 10vmin;
      height: 10vmin;
      position: absolute;
      background-color: #232621; }
    div#board .player1pieces .piece {
      position: absolute;
      width: 8vmin;
      height: 8vmin;
      background-color: #e4a6ae;
      background-size: 65%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 6vmin;
      display: inline-block;
      box-sizing: border-box;
      transition: all 0.2s linear;
      margin-top: 1vmin;
      margin-left: 1vmin;
      cursor: pointer;
      border: 1vmin solid #B93848; }
      div#board .player1pieces .piece.selected {
        box-shadow: 0 0 10px 5px #47d63a; }
    div#board .player2pieces .piece {
      position: absolute;
      width: 8vmin;
      height: 8vmin;
      background-color: #F1F1FF;
      background-size: 65%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 6vmin;
      display: inline-block;
      box-sizing: border-box;
      transition: all 0.2s linear;
      margin-top: 1vmin;
      margin-left: 1vmin;
      border: 1vmin solid #010175; }
      div#board .player2pieces .piece.selected {
        box-shadow: 0 0 10px 5px #47d63a;  }
